/* Poppins - Font Family Import from CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}



/* New Section Desing */
.newss-section {
    padding: 30px 5%;
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.newss-section .newss-title {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 70px;
    cursor: default;
}
.newss-section .newss-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 60px;
}
.newss-section .newss-grid .newss-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
.newss-section .newss-grid .newss-card a {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-decoration: none;
    color: #383838;
    transition: all 0.3s ease-in-out;
}
.newss-section .newss-grid .newss-card a:hover{
    text-decoration: underline;
}
.newss-section .newss-grid .newss-card span {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    cursor: default;
}


.newsss-padding-top{
    padding-top: 60px;
}
.newsss-bgcolor{
    background-color: #3096f517;
}
.newsss-service{
    background-color: #f6f6f6; 
    margin-bottom: 0rem;
}

/* New Section - Responsive Desing */
@media screen and (max-width: 720px){
    .newss-section {
        padding: 30px 6%;
        margin-bottom: 2.8rem;
    }
    .newss-section .newss-title {
        font-size: 30px;
        margin-bottom: 60px;
    }
    .newss-section .newss-grid .newss-card a {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 16px;
    }
    .newss-section .newss-grid .newss-card span {
        width: 180px;
        height: 36px;
        font-size: 12px;
    }
}
